.board {
    display: grid;
    height: 500px;
    width: 500px;
}

.buttons {
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: rgb(255, 127, 153);
    }

.button {
    padding: 1em 1em;
    margin: 1 1 1 1 ;
    border-radius: 2em;
    border-color: blueviolet;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: crimson;
}